.single_value_input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    
    &__controls {
        flex-flow: row;
        &--active {
            visibility: visible;
        }
        &--inactive {
            visibility: hidden;
        }
    }
}
